{% extends "./base.html" %}


{% block content %}

<div class="section section-text">
    <h3>Lorem ipsum dolor sit.</h3>

    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam
      aperiam dolor corporis pariatur corrupti doloribus, ab provident
      excepturi, dolorum eaque quod, amet in illo aut earum! Nobis rerum
      aliquam rem numquam unde earum esse eaque soluta dolore? Incidunt sit
      quod atque harum perspiciatis necessitatibus quo est nesciunt
      reiciendis. Perferendis reprehenderit nisi autem adipisci. Expedita
      blanditiis quae omnis provident doloribus, labore, fugiat aperiam
      corrupti accusamus error adipisci aspernatur suscipit fuga rerum!
      Architecto, quia? Voluptatum dignissimos labore repellendus facilis,
      dicta temporibus quisquam ipsam tempora est! Neque iusto quasi
      quibusdam, ex exercitationem incidunt, at assumenda obcaecati fugiat,

    </div>

  </div>

    <!--------------------------------------------------->
    <!-- -- SECTION 1 -- ZOOMING IMAGES X6   -->
    <!--------------------------------------------------->
    <div class="section section-1">
      <ul class="forest-images-row">
        <li>
          <figure class="forest-image">
            <img
              src="/media/about/forest/andres-medina-JVUCzgbTjDE-unsplash 1.jpg"
              alt=""
            />
          </figure>
        </li>
        <li>
          <figure class="forest-image">
            <img
              src="/media/about/forest/dave-hoefler-frmovOarYdE-unsplash 1.jpg"
              alt=""
            />
          </figure>
        </li>
        <li>
          <figure class="forest-image">
            <img
              src="/media/about/forest/david-clode-9Qw7qrx5uLc-unsplash 1.jpg"
              alt=""
            />
          </figure>
        </li>
      </ul>
      <ul class="forest-images-row">
        <li>
          <figure class="forest-image">
            <img
              src="/media/about/forest/jaime-dantas-FxJ_ZImQ8Nk-unsplash 1.jpg"
              alt=""
            />
          </figure>
        </li>
        <li>
          <figure class="forest-image">
            <img
              src="/media/about/forest/tommy-krombacher-BHJhNACkD6c-unsplash 1.jpg"
              alt=""
            />
          </figure>
        </li>
        <li>
          <figure class="forest-image">
            <img
              src="/media/about/forest/vlad-hilitanu-pt7QzB4ZLWw-unsplash 1.jpg"
              alt=""
            />
          </figure>
        </li>
      </ul>
    </div>

    <!--------------------------------------------------->
    <!-- SECTION TEXT ----------------------------------->
    <!--------------------------------------------------->

    <div class="section section-text">
      <h3>Lorem ipsum dolor sit.</h3>

      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam
        aperiam dolor corporis pariatur corrupti doloribus, ab provident
        excepturi, dolorum eaque quod, amet in illo aut earum! Nobis rerum
        aliquam rem numquam unde earum esse eaque soluta dolore? Incidunt sit
        quod atque harum perspiciatis necessitatibus quo est nesciunt
        reiciendis. Perferendis reprehenderit nisi autem adipisci. Expedita
        blanditiis quae omnis provident doloribus, labore, fugiat aperiam
        corrupti accusamus error adipisci aspernatur suscipit fuga rerum!
        Architecto, quia? Voluptatum dignissimos labore repellendus facilis,
        dicta temporibus quisquam ipsam tempora est! Neque iusto quasi
        quibusdam, ex exercitationem incidunt, at assumenda obcaecati fugiat,
        <br /><br />
        est quo nemo expedita eum? Magnam optio maxime in, facere ea beatae
        rerum hic. Nesciunt veniam, nemo ut minima temporibus repellat, quae
        voluptas fuga culpa consequatur similique, aliquid in autem amet magni?
        Facere debitis aut aliquam repudiandae expedita dolores enim, quibusdam
        ipsa voluptate totam nihil laudantium, quia eius deserunt veniam
        doloremque saepe praesentium. Tempora minus qui iure fugit dolor
        accusamus ipsum a voluptates, sapiente mollitia adipisci possimus. Unde
        autem, nihil, cupiditate quas esse temporibus, odio nulla quibusdam
        mollitia nemo sequi. Dolorem ea quos sapiente quas inventore quisquam
        voluptatem impedit officiis, exercitationem ipsam nobis, consequuntur
        repudiandae necessitatibus. Consectetur facere delectus libero pariatur
        ipsa recusandae aperiam repellendus.
      </div>

    </div>

    <!--------------------------------------------------->
    <!-- SECTION 2 ---- MODULE CARDS SECTION ------------>
    <!--------------------------------------------------->

    <div class="section section-2" id="section-2">


<!---------- MODULE 1 AND MODAL 1 ------------>
        <figure class="module module-1" data-tab="1" data-toggle="modal" data-target="#modal1">
        <!-- module title -->
        <div class="module-title">module title</div>
        <!-- module image -->
        <div class="module-hero">
          <img
            class="module-img"
            src="/media/about/forest/rainbow/stainless-images-JzCf5Y3XmFU-unsplash 1.jpg"
            alt=""
          />
        </div>
        <!-- module description -->
        <div class="module-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil dicta
          vitae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
          dicta
        </div>
        <div><h5>Click for More Info</h5></div>
      </figure>

  
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Module 1 Description 🦜</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in assumenda eaque molestiae, quaerat sed facere, dolorum quos quis dolorem fuga illo nostrum temporibus. Optio reiciendis ducimus, a laudantium assumenda porro vitae libero rem quibusdam, doloremque, illo error laborum quae! Numquam ea repudiandae consequuntur hic adipisci velit totam ut laudantium?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<!---------- MODULE 2 AND MODAL 2 ------------>

<figure class="module module-2" data-tab="2" data-toggle="modal" data-target="#modal2">
    <!-- module title -->
        <div class="module-title">module title</div>
        <!-- module image -->
        <div class="module-hero">
          <img
            class="module-img"
            src="/media/about/forest/rainbow/mike-schrengohst-JlnSnRIZ5fA-unsplash.jpg"
            alt=""
          />
        </div>
        <!-- module description -->
        <div class="module-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil dicta
          vitae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
          dicta
        </div>
        <div><h5>Click for More Info</h5></div>
      </figure>

        
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Module 2 Description 🦜</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in assumenda eaque molestiae, quaerat sed facere, dolorum quos quis dolorem fuga illo nostrum temporibus. Optio reiciendis ducimus, a laudantium assumenda porro vitae libero rem quibusdam, doloremque, illo error laborum quae! Numquam ea repudiandae consequuntur hic adipisci velit totam ut laudantium?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



      <figure class="module module-2" data-tab="3" data-toggle="modal" data-target="#modal3">
        <!-- module title -->
        <div class="module-title">module title</div>
        <!-- module image -->
        <div class="module-hero">
          <img
            class="module-img"
            src="/media/about/forest/rainbow/eberhard-grossgasteiger-6R3dGQJ3qOI-unsplash 1.jpg"
            alt=""
          />
        </div>
        <!-- module description -->
        <div class="module-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil dicta
          vitae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
          dicta
        </div>
        <div><h5>Click for More Info</h5></div>
      </figure>

      <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Module 3 Description 🦜</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in assumenda eaque molestiae, quaerat sed facere, dolorum quos quis dolorem fuga illo nostrum temporibus. Optio reiciendis ducimus, a laudantium assumenda porro vitae libero rem quibusdam, doloremque, illo error laborum quae! Numquam ea repudiandae consequuntur hic adipisci velit totam ut laudantium?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <figure class="module module-4" data-tab="4" data-toggle="modal" data-target="#modal4">
        <!-- module title -->
        <div class="module-title">module title</div>
        <!-- module image -->
        <div class="module-hero">
          <img
            class="module-img"
            src="/media/about/forest/rainbow/isaac-quesada-Hof8Lw1d4Bk-unsplash 1.jpg"
            alt=""
          />
        </div>
        <!-- module description -->
        <div class="module-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil dicta
          vitae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
          dicta
        </div>
        <div><h5>Click for More Info</h5></div>
      </figure>
    </div>

    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Module 3 Description 🦜</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in assumenda eaque molestiae, quaerat sed facere, dolorum quos quis dolorem fuga illo nostrum temporibus. Optio reiciendis ducimus, a laudantium assumenda porro vitae libero rem quibusdam, doloremque, illo error laborum quae! Numquam ea repudiandae consequuntur hic adipisci velit totam ut laudantium?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


 






{% endblock content %}

