{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section  user-page">

      <div class="profile-section-all">
        <div class="profile-image-section">
          <img class="profile-image" src="{{ user.profile.image.url }}">
        </div>

          <div class="profile-information-section">
          <div class="profile-info-item" class="social-image"><img class="social-img" src="/static/user.png" alt=""></div>
          <div class="profile-info-item">{{ user.username }}</div>

          <div class="profile-info-item" class="social-image"><img class="social-img" src="/static/email.png" alt=""></div>
          <div class="profile-info-item">{{ user.profile.email }}</div>
          <div class="profile-info-item" class="social-image"><img class="social-img" src="/static/facebook.jpg" alt=""></div>
          <div class="profile-info-item" > {% if user.profile.facebook %}{{ user.profile.facebook|truncatechars:50 }}{% else %} &nbsp  {% endif %} </div>
          <div class="profile-info-item" class="social-image"><img class="social-img" src="/static/instagram.png" alt=""></div>
          <div class="profile-info-item"> {% if user.profile.instagram %}{{ user.profile.instagram|truncatechars:50 }}  {% else %} &nbsp  {% endif %}</div>
        </div>
      </div>


      <div class="form-group mt-3">
        <!-- <button class="btn btn-info" type="submit">Articles</button> -->
        <a class="btn btn-primary" href="{% url 'blog:authorArticles' user.username %}">Go to my Articles</a>
    </div>

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group"  style="background-color: rgba(255, 255, 255, 0.103); padding: 2rem;">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-info" type="submit">Update</button>
          </div>
      </form>

    </div>

{% endblock content %}
