{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section user-page">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style="background-color: rgba(255, 255, 255, 0.103); padding: 2rem;">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
